GEMINI_API_KEY=sua_chave_do_gemini_aqui
FIREBASE_WEB_API_KEY=sua_chave_web_do_firebase
FIREBASE_ANDROID_API_KEY=sua_chave_android_do_firebase
FIREBASE_IOS_API_KEY=sua_chave_ios_do_firebase
FIREBASE_MACOS_API_KEY=sua_chave_macos_do_firebase
